html {background-color: #BEBEBE;}

/*Her er nav bar oppsette til øverst på siden*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar {
    width:100%;
    position:fixed;
    top:0px;
}
/*Her slutter nav bar CSS'en oppsette til øverst på siden*/

body {
    margin-top: 50px;
}
