body {
     margin:0;
 }

.headerNav {
    background-color: blue;
    overflow: hidden;
}

.headerNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.headerNav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.logo-headerNav {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.headerNav .Loggin {
    float:right;
}

.headerNav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;
}

.headerNav .Loggin button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.headerNav .Loggin button:hover {
  background: #ccc;
}

@media screen and (max-width: 500px) {
  .headerNav .Loggin {
    float: none;
  }
  .headerNav a, .navHeader input[type=text], .navHeader .Loggin button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .headerNav input[type=text] {
    border: 1px solid #ccc;
  }
.logo-headerNav {
  display: block;
  margin-left: 38%;
}
}
