body {
     margin:0;
     font-family: arial;
 }

nav {
    background-color: darkgrey;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav .bilde {
  padding: 2px 2px;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.logo-navHeaderForsiden {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 0px;
}

nav .Loggin {
    float:right;
}

nav input[type=text] {
  height: 10px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 17px;
  border: none;
  width: 150px;
}

nav .Loggin button {
  float: right;
  padding: 5px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .Loggin button:hover {
  background: #ccc;
}

@media screen and (max-width: 500px) {
  .navHeaderForsiden .Loggin {
    float: none;
  }
  nav a, .navHeader input[type=text], .navHeader .Loggin button {
    clear: both;
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  nav input[type=text] {
    border: 1px solid #ccc;
  }
.logo-navHeaderForsiden {
  display: block;
  margin-left: 38%;
}
}
