/*-- Denne include-siden er utviklet av Simen A. Lyse , siste gang endret 14.12.2018
// Denne include-siden er kontrollert av Simen A. Lyse, siste gang 14.12.2018 */

body {
     margin:0;
     font-family: arial;
 }

 /* Header */


/*Min side*/

.error {
  color: red;
}

.suksess {
  color: green;
}

.section {
  color: black;
  border: 1px solid darkgrey;
  display: none;
  padding: 50px 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: darkgrey;
}
